"am62ax-1 -> Headless",/home/ggiordano/work/yocto/am62ax/build/deploy/images/phyboard-lyra-am62axx-1,phytec-headless-image-phyboard-lyra-am62axx-1,/home/ggiordano/PHYTEC/am62ax
"am62ax-1 -> QT5 Demo",/home/ggiordano/work/yocto/am62ax/build/deploy/images/phyboard-lyra-am62axx-1,phytec-qt5demo-image-phyboard-lyra-am62axx-1,/home/ggiordano/PHYTEC/am62ax
"am62x-3  -> Headless",/home/ggiordano/work/yocto/am62x/build/deploy-ti/images/phyboard-lyra-am62xx-3,phytec-headless-image-phyboard-lyra-am62xx-3,/home/ggiordano/PHYTEC/am62x
"am62x-3  -> QT5 Demo",/home/ggiordano/work/yocto/am62x/build/deploy-ti/images/phyboard-lyra-am62xx-3,phytec-qt5demo-image-phyboard-lyra-am62xx-3,/home/ggiordano/PHYTEC/am62x
"am62x-2_doom -> Headless",/home/ggiordano/work/yocto/am62x_chocolatedoom/build/deploy/images/phyboard-lyra-am62xx-2,phytec-headless-image-phyboard-lyra-am62xx-2,/home/ggiordano/PHYTEC/am62x
"am62x-2_doom -> QT5 Demo",/home/ggiordano/work/yocto/am62x_chocolatedoom/build/deploy/images/phyboard-lyra-am62xx-2,phytec-qt5demo-image-phyboard-lyra-am62xx-2,/home/ggiordano/PHYTEC/am62x
"am64x-1  -> Headless",/home/ggiordano/work/yocto/am64x/build/deploy/images/phyboard-electra-am64xx-1,phytec-headless-image-phyboard-electra-am64xx-1,/home/ggiordano/PHYTEC/am64x
"am64x-2  -> Headless",/home/ggiordano/work/yocto/am64x/build/deploy/images/phyboard-electra-am64xx-2,phytec-headless-image-phyboard-electra-am64xx-2,/home/ggiordano/PHYTEC/am64x
"am57x-4  -> QT5 Demo",/home/ggiordano/work/yocto/am57/build/deploy/images/phycore-am57xx-4,phytec-qt5demo-image-phycore-am57xx-4,/home/ggiordano/PHYTEC/am57x
